<?xml version='1.0' encoding='utf-8'?>
<widget id="com.namee.namee" version="1.89.3" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <hook src="hooks/hookers.js" type="before_prepare" />
    <hook src="hooks/beforedep.js" type="before_deploy" />
    <name>Namee</name>
    <description>
        Namee
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Sustam Apps
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="android-minSdkVersion" value="20" />
    <preference name="android-targetSdkVersion" value="30" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="SplashScreenDelay" value="4000" />
    <preference name="FadeSplashScreen" value="true" />
    <preference name="FadeSplashScreenDuration" value="500" />
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="WKWebViewOnly" value="true" />
        <feature name="CDVWKWebViewEngine">
            <param name="ios-package" value="CDVWKWebViewEngine" />
        </feature>
        <preference name="CordovaWebViewEngine" value="CDVWKWebViewEngine" />
        <preference name="DisallowOverscroll" value="true" />
        <preference name="disallowOverscroll" value="true" />
        <preference name="BackupWebStorage" value="local" />
        <preference name="webviewbounce" value="false" />
        <preference name="UIWebViewBounce" value="false" />
        <preference name="DisallowOverscroll" value="true" />
        <preference name="ios-XCBuildConfiguration-ENABLE_BITCODE" value="NO" />
        <config-file parent="CFBundleVersion" platform="ios" target="*-Info.plist">
            <string>11</string>
        </config-file>
    </platform>
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="hdpi" src="res/icons/Android/drawable-icon-hdpi.png" />
        <icon density="ldpi" src="res/icons/Android/drawable-icon-ldpi.png" />
        <icon density="mdpi" src="res/icons/Android/drawable-icon-mdpi.png" />
        <icon density="xhdpi" src="res/icons/Android/drawable-icon-xhdpi.png" />
        <icon density="xxhdpi" src="res/icons/Android/drawable-icon-xxhdpi.png" />
        <icon density="xxxhdpi" src="res/icons/Android/drawable-icon-xxxhdpi.png" />
        <splash density="port-ldpi" src="res/screen/Android/splash-port-mdpi.png" />
        <splash density="port-mdpi" src="res/screen/Android/splash-port-mdpi.png" />
        <splash density="port-hdpi" src="res/screen/Android/splash-port-hdpi.png" />
        <splash density="port-xhdpi" src="res/screen/Android/splash-port-xhdpi.png" />
        <splash density="port-xxhdpi" src="res/screen/Android/splash-port-xxhdpi.png" />
        <splash density="port-xxxhdpi" src="res/screen/Android/splash-port-xxxhdpi.png" />
    </platform>
    <platform name="ios">
        <icon height="40" src="res/icons/ios/icon-40.png" width="40" />
        <icon height="80" src="res/icons/ios/icon-40@2x.png" width="80" />
        <icon height="50" src="res/icons/ios/icon-50.png" width="50" />
        <icon height="100" src="res/icons/ios/icon-50@2x.png" width="100" />
        <icon height="60" src="res/icons/ios/icon-60.png" width="60" />
        <icon height="120" src="res/icons/ios/icon-60@2x.png" width="120" />
        <icon height="180" src="res/icons/ios/icon-60@3x.png" width="180" />
        <icon height="72" src="res/icons/ios/icon-72.png" width="72" />
        <icon height="144" src="res/icons/ios/icon-72@2x.png" width="144" />
        <icon height="76" src="res/icons/ios/icon-76.png" width="76" />
        <icon height="152" src="res/icons/ios/icon-76@2x.png" width="152" />
        <icon height="167" src="res/icons/ios/icon-83.5@2x.png" width="167" />
        <icon height="29" src="res/icons/ios/icon-small.png" width="29" />
        <icon height="58" src="res/icons/ios/icon-small@2x.png" width="58" />
        <icon height="87" src="res/icons/ios/icon-small@3x.png" width="87" />
        <icon height="57" src="res/icons/ios/icon.png" width="57" />
        <icon height="114" src="res/icons/ios/icon@2x.png" width="114" />
        <splash height="480" src="res/screen/ios/Default~iphone.png" width="320" />
        <splash height="960" src="res/screen/ios/Default~iphone@2x.png" width="640" />
        <splash height="1024" src="res/screen/ios/Default-Portrait~ipad.png" width="768" />
        <splash height="2048" src="res/screen/ios/Default-Portrait~ipad@2x.png" width="1536" />
        <splash height="1136" src="res/screen/ios/Default-568h@2x~iphone.png" width="640" />
        <splash height="1334" src="res/screen/ios/Default-667h.png" width="750" />
        <splash height="2208" src="res/screen/ios/Default-736h.png" width="1242" />
        <splash height="2436" src="res/screen/ios/Default-812h.png" width="1125" />
    </platform>
    <edit-config file="*-Info.plist" mode="merge" target="NSCameraUsageDescription">
        <string>need camera access to take pictures for your profile or posts</string>
    </edit-config>
    <edit-config file="*-Info.plist" mode="merge" target="NSPhotoLibraryUsageDescription">
        <string>need photo library access to get pictures need camera access to take pictures for your profile or posts </string>
    </edit-config>
    <edit-config file="*-Info.plist" mode="merge" target="NSLocationWhenInUseUsageDescription">
        <string>need location access to find user nearby and can share pictures</string>
    </edit-config>
    <edit-config file="*-Info.plist" mode="merge" target="NSPhotoLibraryAddUsageDescription">
        <string>need photo library access to take pictures for your profile or posts</string>
    </edit-config>
    <edit-config file="*-Info.plist" mode="merge" target="NSContactsUsageDescription">
        <string>This app needs contacts access to share invitations or pictures if you wish</string>
    </edit-config>
    <plugin name="cordova-plugin-whitelist" spec="^1.3.4" />
    <allow-navigation href="*" />
    <plugin name="cordova-plugin-device" spec="^2.0.3" />
    <plugin name="cordova-plugin-splashscreen" spec="^6.0.0" />
    <plugin name="cordova-plugin-keyboard" spec="^1.2.0" />
    <plugin name="phonegap-plugin-push" spec="^2.3.0">
        <variable name="ANDROID_SUPPORT_V13_VERSION" value="27.+" />
        <variable name="FCM_VERSION" value="17.0.+" />
    </plugin>
    <plugin name="cordova-plugin-file-transfer" spec="^1.7.1" />
    <plugin name="cordova-plugin-wkwebview-engine" spec="^1.2.2" />
    <plugin name="cordova-plugin-inappbrowser" spec="^4.1.0" />
    <plugin name="cordova-plugin-file" spec="^6.0.2" />
    <plugin name="cordova-custom-config" spec="^5.1.0" />
    <plugin name="cordova-plugin-camera" spec="^4.1.0">
        <variable name="ANDROID_SUPPORT_V4_VERSION" value="27.+" />
    </plugin>
    <plugin name="cordova-plugin-contacts-phonenumbers" spec="0.0.12">
        <variable name="CONTACTS_USAGE_DESCRIPTION" value="This app needs contacts access" />
    </plugin>
    <engine name="android" spec="^8.1.0" />
    <engine name="browser" spec="^5.0.4" />
    <engine name="ios" spec="^5.1.1" />
</widget>
